################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/home.sln
/.vs/home/FileContentIndex/dc557f99-4386-4af7-acae-ce9b5fbf5ba5.vsidx
