################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/home.sln
/.vs/home/FileContentIndex/dc557f99-4386-4af7-acae-ce9b5fbf5ba5.vsidx
/.vs/home/copilot-chat/935f4030/sessions/5727cac3-7dd0-4cd2-a9e2-6d75c47172e8
/.vs/home/CopilotIndices/18.3.511.5503
/.vs/home/FileContentIndex
